<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen</title>
    <link rel="stylesheet" href="examen.css">
</head>
<body>
    <div class="ordonnance_container">
        <div class="title underline">
            <h1>Cabinet Médical</h1>
        </div>
        <div class="header">
            <div class="fr_head">
                <div class="name">Docteur Nom Prénom</div>
                <div class="speciality">Spécialité en médecin interne</div>
                <hr class="line">
                <div class="order_number">
                    Numéro d'ordre : xxx/xxx
                </div>
            </div>
            <div class="logo_head">
                <img src="../logo_icon.png">
            </div>
            <div class="arabe_head">
                <div class="name">Docteur Nom Prénom</div>
                <div class="speciality">Spécialité en médecin interne</div>
                <hr class="line">
            </div>
        </div>
        <div class="separator"><hr></div>
        <div class="bloc_patient">
            <div class="city_date">
                <label for="">Ville le : </label>
                <label for="" class="date"> 23/06/2023</label>
            </div>
            <div class="info_patient">
                <div>
                    <label for="">Nom: </label>
                    <label for="" class="date"> 23/06/2023</label>
                </div>
                <div>
                    <label for="">Prénom : </label>
                    <label for="" class="date"> 23/06/2023</label>
                </div>
                <div>
                    <label for="">Age : </label>
                    <label for="" class="date"> 23/06/2023</label>
                </div>
            </div>
        </div>
        <div class="title">
            <h2>EXAMEN</h2>
        </div>
        <div class="item">
            <div class="item_name">
                <label class="bold font-20">Paracétamol</label>
                <div>
                    <label>description hjhjbhbhjvghcvghh</label>
                </div>
            </div>
            
        </div>
    </div>
</body>
<footer>
    <hr>
    <div class="display-flex justify-content-center">
            Tel : +21358555445 | +21358555445
    </div>
    <div class="display-flex justify-content-center">
        email : +21358555445
</div>
</footer>
</html>